/* @tailwind base; */

@import "./var.css";

.container{
  width: 100%
}

.visible{
  visibility: visible
}

.static{
  position: static
}

.fixed{
  position: fixed
}

.absolute{
  position: absolute
}

.relative{
  position: relative
}

.sticky{
  position: sticky
}

.m-1{
  margin: 0.25rem
}

.mx-1{
  margin-left: 0.25rem;
  margin-right: 0.25rem
}

.block{
  display: block
}

.inline-block{
  display: inline-block
}

.inline{
  display: inline
}

.flex{
  display: flex
}

.table{
  display: table
}

.grid{
  display: grid
}

.list-item{
  display: list-item
}

.hidden{
  display: none
}

.shrink{
  flex-shrink: 1
}

.grow{
  flex-grow: 1
}

.transform{
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.resize{
  resize: both
}

.truncate{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.border{
  border-width: 1px
}

.p-\[10px\]{
  padding: 10px
}

.capitalize{
  text-transform: capitalize
}

.italic{
  font-style: italic
}

.ordinal{
  --tw-ordinal: ordinal;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction)
}

.text-red{
  --tw-text-opacity: 1;
  color: rgb(255 51 0 / var(--tw-text-opacity))
}

.underline{
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline
}

.outline{
  outline-style: solid
}

.blur-sm{
  --tw-blur: blur(4px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.blur{
  --tw-blur: blur(8px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.invert{
  --tw-invert: invert(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.filter{
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.transition{
  transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.hover\:mx-2\.5:hover{
  margin-left: 0.625rem;
  margin-right: 0.625rem
}

.hover\:mx-2:hover{
  margin-left: 0.5rem;
  margin-right: 0.5rem
}
